@media(max-width:768px) {
    body{
        width: 768px;
        background-color: white;
        
    }
    .img{
        display: none;
            
    }
    .needtohide{
        display:  none;
    }
    .center {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 50px ;
        padding-left: 50px;
      }
      .grid-container {
        display: grid;
        grid-template-columns:50% 50% ;
      }
      .pader{
        padding-left: 0px ;
      
      }

      .png{
        width: 231px;
        height: 150px;
      }
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
      
        padding: 20px;
        font-size: 20px;
      
        font-size: small;
      }
      .grid-item2 {
        background-color: red;
      
        padding: 20px;
        font-size: 20px;
      
        font-size: small;
      }
      
      h2{
        font-weight: bold;
        padding-left: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      .sigma{
      
        padding-left: 100px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        padding-bottom: 50px;
        color: #7e7a7a;
      }
      .sigma2{
        color: #7e7a7a;
        padding-left: 100px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
      
      }
      .needtext2{
        padding-left: 100px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
      }
      .iconfull{
        padding-top: 50px;
        padding-left: 100px;
        gap: 30px;
        color: #2196F3;
      }
     
    .user-text{
        font-size: 10px;
    }
    .describe{
  
     
      font-size: 15px;
      color: #7e7a7a;
      padding-top: 10px;
    
  }
  }